/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.MailPanel {
    background-color: rgba(255, 255, 204, 0.4)
}

.mail:hover {
    /*border: 0.1px solid rgba(0, 0, 0, 0.1);*/
    box-shadow: rgba(242, 38, 19, 1) 0px 0px 4px;
}

.mailbut, .mailbut:hover {
    width: 1086px;
    height: 96px;
    border: none;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
}

.MailContainer {
    height: 800px;
}

.loginContainer {
    max-height: 400px !important;
    min-height: 300px !important;
    min-width: 250px !important;
    max-width: 300px !important;
    margin-top: 30px;
}

.inputContainer {
    display: block;
    margin: auto;
    margin-top: 30px;
    min-width: 80%;
    max-width: 90%;
    text-align: left;
}

form {
    width: 100%;
}

input {
    outline: none;
}

.Input {
    border: none;
    border-bottom: 2px solid darkgray;
    width: 160px;
    transition: width 0.25s;
}

    .Input:focus {
        width: 175px;
        border-color: black;
    }

.header {
    font-weight: 500;
    font-size: 18px;
}

.from {
    font-size: 15px;
    color: gray;
}

.InputMessage {
    height: 400px;
    outline: none;
}

.warning {
    display: block;
    padding: 10px;
    background-color: rgba(242, 38, 19, 0.8);
    border-radius: 10px;
    color: white;
}

.postCon {
    height: 172px;
    width: 700px;
}

.tweetCon {
    min-height: 150px;
    width: 650px;
}

#delete {
    display: none;
    position: absolute;
    right: 58px;
    top: 8px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 100%;
    width: 35px;
    height: 35px;
    border: none;
    text-align: center;
}

.form-input img {
    width: 100%;
    display: none;
    margin-bottom: 30px;
}

.form-input input {
    display: none;
}

.form-input label {
    margin-left: 85px;
    display: inline-block;
    text-align: center;
    background-image: url(/broken_image_black_24dp.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /*color: #fff;*/
    aspect-ratio: 1/1;
    height: 35px;
    cursor: pointer;
}

#file-ip-1-preview {
    max-height: 400px;
    max-width: 500px;
    display: none;
    margin-left: 85px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.file-preview {
    max-height: 400px;
    max-width: 500px;
    display: block;
    margin-left: 90px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.file-preview2 {
    max-height: 150px;
    max-width: 300px;
    display: block;
    margin-left: 90px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.css-table .tablerow:nth-child(even) {
    background-color: #fcfcfc;
}

.mcontainer {
    width: 700px;
    margin: 0;
}

textarea {
    outline: none;
    resize: none;
    width: 590px;
    height: 50px;
    padding: 10px;
}

.tweetButton {
    margin-right: 60px;
}

.form {
    height: 130px;
    padding-left: 5px;
}

.navCon {
    /*margin-right: 50px;*/
    width: 277.31px;
}
