@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-inline-flex flex-column justify-content-center mcontainer">
    <div class="border rounded p-1 tweetCon d-block">
        <div class="text-left mb-3">
            <h4 class="d-block ml-2 mt-1">Home</h4>
        </div>
        <div>
            <form method="post" class="form">
                <div class="border-bottom pb-3">
                    <img class="d-inline-block rounded-circle" src="~/photo4.jpg" alt="" height="75px" width="75px" />
                    <div class="d-inline-flex align-items-center mt-1">
                        <textarea class="border-0 d-block h5" style="max-width: 520px" id="post" placeholder="What's happening?" asp-for="tweet"></textarea>
                    </div>
                    <div class="preview position-relative">
                        <button type="button" id="delete" onclick="hidePreview()"><img src="~/close_black_24dp.svg" class="d-inline-block" /></button>
                        <img id="file-ip-1-preview" />
                    </div>
                </div>
                <div class="form-input mt-2">
                    <label for="file-ip-1"></label>
                    <input type="file" asp-for="data" id="file-ip-1" accept="image/*" onchange="showPreview(event);">
                    <button type="submit" class="d-inline-block btn btn-info rounded-pill mb-3 pl-4 pr-4 float-right tweetButton">Tweet</button>
                    @*<button type="button" onclick="hidePreview()" class="d-inline-block btn btn-info rounded-pill mr-3 mb-3 pl-4 pr-4 float-right">Delete Picture</button>*@
                </div>
            </form>
        </div>
    </div>
    <div class="border mt-3" style="width: 650px">
        @for (int i = Model.tweets.Count - 1; i >= 0; i--)
        {
            <div class=" p-1 tweetCon d-flex text-left align-items-lg-start border-bottom border-top">
                <img class="d-inline-block border rounded-circle mt-2 ml-2" src="~/photo4.jpg" alt="" height="75px" width="75px" />
                <div class="d-inline-block ml-4 mt-2 w-100">
                    <div class="d-block">
                        <h5 class="d-inline-block">@Model.tweets[i].name</h5>
                        <p class="d-inline-block float-right mr-2" style="color: darkgray; font-weight: 600; font-size: 17px;">@Model.tweets[i].date</p>
                    </div>
                    <p class="d-inline-block">@Model.tweets[i].message</p>
                </div>
            </div>
        }
    </div>
</div>