@page
@model Twitter19.Pages.ListModel
@{
}
@using Microsoft.AspNetCore.Http;
<div class="border rounded p-1 tweetCon d-block">
    <div class="text-left mb-3">
        <h4 class="d-block ml-2 mt-1">Lists</h4>
    </div>
    <div>
        <form asp-page-handler="Tweet" method="post" class="form" enctype="multipart/form-data">
            <div class="border-bottom pb-3">
                <img class="d-inline-block rounded-circle" src="~/photo4.jpg" alt="" height="75px" width="75px" />
                <div class="d-inline-flex align-items-center mt-1">
                </div>
                <div class="preview position-relative">
                    <button type="button" id="delete" onclick="hidePreview()"><img src="~/close_black_24dp.svg" class="d-inline-block"></button>
                    <img id="file-ip-1-preview" />
                </div>
            </div>
            <div class="form-input mt-2">
                <label for="file-ip-1"></label>
                <button type="submit" class="d-inline-block btn btn-info rounded-pill mb-3 pl-4 pr-4 float-right tweetButton">Tweet</button>
            </div>
        </form>
    </div>
</div>
@if (HttpContext.Session.GetInt32("tweetID") != null)
{
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Tweet</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-page-handler="Comment" method="post">
                    <div class="modal-body">
                        <div class="tablerow">
                            <div class="border-bottom pb-3">
                                <img class="d-inline-block rounded-circle ml-2 mt-2" src="~/photo4.jpg" alt="" height="75px" width="75px" />
                                <div class="d-inline-flex flex-column ml-2" style="max-width: 340px">
                                    <h4 class="d-inline-block"></h4>
                                    <div class="d-inline-flex align-items-center mt-1">
                                        <pre class="d-inline-block"></pre>
                                    </div>
                                </div>
                                <p class="d-inline-block float-right mr-2" style="color: darkgray; font-weight: 600; font-size: 17px;"></p>
                            </div>
                        </div>
                        <div class="mt-2 pb-2 border-bottom">
                            <textarea id="text" type="text" style="height: 100px; resize: none; overflow: hidden;" class="border-0 p-2 w-75" placeholder="Tweet your reply" required maxlength="120"></textarea>
                            <button type="submit" class="btn btn-primary d-inline-block rounded-pill float-right">Reply</button>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
}