@page
@model Twitter.Pages.LoginModel
@{
}
<div class="container border border-muted shadow loginContainer justify-content-center">
    <h2 class="m-3">Login</h2>
    <div class="mt-3">
        <form method="post">
            <div class="inputContainer">
                <img src="~/perm_identity_black_24dp.svg" alt="Email" />
                <input class="Input" placeholder="Email" type="email" asp-for="Email" />
            </div>
            <div class="inputContainer">
                <img src="~/lock_black_24dp.svg" alt="Password" />
                <input class="Input" placeholder="Password" type="password" asp-for="Password" />
            </div>
            <div class="mt-4 d-block">
                <input type="submit" value="Login" class="d-block btn btn-primary mr-auto ml-auto mt-3" />
                <a class="d-block m-2" asp-page="Signup">Signup</a>
            </div>
        </form>
    </div>
</div>