@page
@model Twitter19.Pages.MessageModel
@{
}


<div class="container border rounded " style="height: 700px; width: 1000px; padding: 0; margin-left: 250px">
    <input type="text" asp-for="Name" class="border rounded"/>
    <div class="container float-right h-100 border-left" style="width: 72%;">

    </div>
</div>