@page
@model Twitter19.Pages.ProfileModel
@{
}
<div class="d-inline-flex mcontainer border">
    <div class="text-left mb-3">
        <h4 class="d-block ml-2 mt-1">Name</h4>
        <span>0 tweets</span>
    </div>
</div>