@page
@model Twitter19.Pages.SignupModel
@{
}
<div class="container border border-muted shadow loginContainer justify-content-center">
    <h2 class="m-3">Signup</h2>
    <div class="mt-3">
        <form method="post">
            <div class="inputContainer">
                <img src="~/perm_identity_black_24dp.svg" alt="Email" />
                <input class="Input" placeholder="Email" type="email" asp-for="Email" required />
            </div>
            <div class="inputContainer">
                <img src="~/lock_black_24dp.svg" alt="Password" />
                <input class="Input" oninput="validation(this.value)" placeholder="Password" type="password" asp-for="Password" id="psw" />
            </div>
            <div class="inputContainer">
                <img src="~/lock_black_24dp.svg" alt="Password" />
                <input class="Input" placeholder="Confirm password" type="password" asp-for="CPassword" required />
            </div>
            <div class="mt-4 mb-3">
                <input type="submit" value="Signup" class="d-block btn btn-primary mr-auto ml-auto mt-2" />
                <a class="d-block m-2" asp-page="Login">Login</a>
            </div>
        </form>
    </div>
</div>